<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/admin-createProducts.css">

    <script src="../../../js/genre.js"></script>

    <body>

        <%- include('../partials/header') %>

            <main class="mainCreate">

                <a href="#" id="main-arrow"><i class="fa-solid fa-circle-up"></i></a>
                <a href="/products/carrito" id="main-basket"><i class="fa-solid fa-basket-shopping"></i></a>

                <div class="formularioCrearProductoShadow">

                    <% if(locals.errors) { %>
                        <div id="errors">
                            <% for (let oneError in errors) { %>
                                <p>
                                    <%= errors[oneError].msg %>
                                </p>
                            <% } %>
                        </div>
                    <% } %>

                <form id="formularioCrearProductoBox" action="/products/create" method="post"
                    enctype="multipart/form-data">

                <label for="Datos" id="crearTitulo">Cargue el libro:</label>


                <input type="text" id="name" name="titulo" placeholder="Título" required>

                <input type="text" id="anio" name="anio" placeholder="Año" required>

                <input type="search" id="autor" name="autor" placeholder="Autor" required>
                <ul id="sugerencias"></ul>

                <input type="text" id="description" name="description" placeholder="Descripción"
                    required>


                <% if(genres === undefined) { %>
                    <input type="number" name="genero" placeholder="Género" required>                                    
                <% } else { %>
                    <select id="genero" name="genero" required>
                        <% genres.forEach(genre=> { %>
                                            <option value="<%= genre.genre_id %>">
                                <%= genre.name %>
                                            </option>
                        <% }) %>
                    </select>
                <% } %>

                <input type="text" id="cantidad_de_paginas" name="cantidad_de_paginas"
                            placeholder="Cantidad de páginas" required>

                <input type="number" id="price" name="price" placeholder="Precio" required>

                <input type="text" id="editorial" name="editorial" placeholder="Editorial"
                            required>

                <input type="number" id="ISBN" name="ISBN" placeholder="ISBN" required>

                <input type="number" id="stock" name="stock" placeholder="Stock" required>


                <label for="imagenProducto" id="imagenProductoTitulo">Imagen:</label>
                                        <input type="file" id="imagenProducto" name="imagenProducto" multiple>

                <div class="botonesBox">

                            <input id="botonBorrarCreate" type="reset" value="Borrar">
                            <input id="botonEnviarCreate" type="submit" value="Enviar">

                </div>

                </form>

                </div>

            </main>

            <%- include('../partials/footer') %>

    </body>

</html>