<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/admin-editProducts.css">

    <body>

        <%- include('../partials/header') %>

            <main class="mainEdit">

                <a href="#" id="main-arrow"><i class="fa-solid fa-circle-up"></i></a>
                <a href="/products/carrito" id="main-basket"><i class="fa-solid fa-basket-shopping"></i></a>

                <div class="formularioEditarProductoShadow">

                    <form id="formularioEditarProductoBox" action="/products/<%= book.id %>?_method=PUT" method="post" enctype="multipart/form-data">

                        <label for="Datos" id="editarTitulo">Edite los productos:</label>


                        <input type="text" id="name" name="name" placeholder="<%= book.name %>">

                        <input type="text" id="año" name="año" placeholder="<%= book.año %>">

                        <input type="text" id="autor" name="autor" placeholder="<%= book.autor %>">

                        <input type="text" id="description" name="description" placeholder="<%= book.description %>">

                        <input type="number" id="cantidad_de_paginas" name="cantidad_de_paginas"
                            placeholder="<%= book.cantidad_de_paginas %>">

                        <input type="text" id="genero" name="genero" placeholder="<%= book.genero %>">

                        <input type="number" id="price" name="price" placeholder="<%= book.price %>">

                        <input type="text" id="editorial" name="editorial" placeholder="<%= book.editorial %>">

                        <input type="number" id="ISBN" name="ISBN" placeholder="<%= book.ISBN %>">


                        <label for="imagenProducto" id="imagenProductoTitulo">Imagen:</label>
                        <input type="file" id="imagenProducto" name="imagenProducto" multiple>

                        <div class="botonesBox">

                            <input id="botonBorrarEdit" type="reset" value="Borrar">

                            <button id="botonEnviarEdit" type="submit" value="Enviar">Editar Libro</button>
                            
                        </div>
                        
                    </form>
                    <form action="/products/delete/<%= book.id %>?_method=DELETE" method="post">
                        <button id="botonBorrarEdit" type="submit" value="Eliminar Libro">Eliminar Libro</button>
                    </form>

                </div>

            </main>

            <%- include('../partials/footer') %>

    </body>

</html>