<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/product.css">
    <script type="text/javascript" src="../../js/home.js"></script>

    <body>

        <%- include('./partials/header') %>

            <main>

                <a href="#" id="main-arrow"><i class="fa-solid fa-circle-up"></i></a>
                <a href="/products/carrito" id="main-basket"><i class="fa-solid fa-basket-shopping"></i></a>

                <span class="left"></span>
                <section class="slider">
                    <div class="books-container">
                        <% lastBooks.forEach(book => { %>
                            <article class="producto-libro book">
                        
                                <div class="box-izquierda">
                                    <a href="/products/<%= book.book_id %>">
                                        <img src="/images/books/<%= book.image %>" alt="<%= book.title %>">
                                    </a>
                                </div>
                        
                                <div class="box-derecha">
                                    <p class="name">
                                        <%= book.title %>
                                    </p>
                                    <p class="autor">
                                        <%= book.author.fullname %>
                                    </p>
                                    <p class="price">$<%= book.price %>
                                    </p>
                                </div>
                        
                            </article>
                        <% }) %>
                    </div>          
                </section>
                <span class="right">a</span>          

            </main>

            <%- include('./partials/footer') %>

    </body>

</html>