<% books.libros.forEach(book=> { %>
    <article class="producto-libro">

        <div class="box-izquierda">
            <img src="<%= book.image %>" alt="<%= book.name %>">
        </div>

        <div class="box-derecha">
            <p class="name">
                <%= book.name %>
            </p>
            <p class="autor">
                <%= book.autor %>
            </p>
            <p class="price">$<%= book.price %>
            </p>
        </div>

    </article>
<% }) %>